This is a piece of code to convert our Excel spreadsheets into the 80 column MPC format required for find_orb.

In [57]:
import pandas as pd
import numpy as np

In [58]:
object = 'Astraea'
obs_code = 995

/////////////////

In [59]:
#reading data from csv file
df = pd.read_excel(f'{object} Data.xlsx')
df

,Date + Time,Exp time (s),RA,RA (deg),RMS_X,FWHM_x (as),object counts,mean count,background pp,Read noise pp,...,RA err (as),Dec,Dec (deg),RMS_Y,FWHM_y,SNR.1,sigma_AST.1,Dec err (as),Saturated?,Telescope
0,2024-01-06T19:45:30.787,15.0,06:13:11.477,93.297821,0.143,4.36,1283400.0,3390.40,410.73,8.0,...,0.376659,16:51:31.24,61719.619344,0.139,3.64,7.923433,0.195073,0.334073,NaN,draco2
1,2024-01-12T21:48:24.032,15.0,06:07:40.298,91.917908,0.082,4.55,1505300.0,3344.40,340.00,8.0,...,0.330601,17:12:58.94,258.245583,0.167,4.16,7.771728,0.227292,0.394292,NaN,draco2
2,2024-01-13T20:07:37.1525,8.0,06:06:53.631,91.723463,0.099,2.79,852620.0,2493.20,373.61,18.0,...,0.332302,17:16:25.37,259.105708,0.087,2.69,5.078015,0.224940,0.311940,Y,east-16
3,2024-01-14T21:24:41.2043,4.0,06:06:02.022,91.508425,0.120,2.54,624840.0,853.98,137.00,18.0,...,0.854438,17:20:22.59,260.094125,0.094,2.36,1.468546,0.682391,0.776391,Y,east-16
4,2024-01-15T19:10:29.4834,4.0,06:05:19.106,91.329608,0.146,2.51,651080.0,2083.00,213.98,18.0,...,0.357117,17:23:48.50,260.952083,0.137,2.27,5.048476,0.190930,0.327930,Y,east-16
5,2024-01-17T18:36:07,4.0,06:03:49.760,90.957333,0.198,4.44,398440.0,872.11,171.95,8.0,...,0.910650,17:31:24.49,262.852042,0.163,4.56,2.645549,0.731911,0.894911,NaN,NaN
6,2024-01-18T17:29:32.2997,4.0,06:03:08.965,90.787354,0.238,2.45,549330.0,1120.50,1126.00,18.0,...,1.021430,17:35:07.13,263.779708,0.206,3.07,1.327930,0.981685,1.187685,N,east-16
7,2024-01-24T19:42:26.945,2.0,05:59:26.566,89.860692,0.104,2.64,176720.0,371.91,342.52,8.0,...,1.430043,17:59:30.35,269.876458,0.188,2.35,0.845386,1.180379,1.368379,N,draco2
8,2024-01-26T17:56:01.5886,4.0,05:58:31.474,89.631142,0.424,5.12,749890.0,1194.30,1361.80,15.0,...,2.242147,18:07:16.96,271.820667,0.467,3.52,1.195777,1.249976,1.716976,N,fareast-20
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#creating (or overwriting) new file with a relevant name.
f = open(f"{object}_data.txt", "w")
f.writelines(['123456789|123456789|123456789|123456789|123456789|123456789|123456789|123456789|\n', '<-ObjDesig->*nnYYYY MM DD.DDDDD HH MM SS.SSSsdd mm ss.ss<blanks >MM.MMBz<ref>COD\n'])

In [61]:
#lots of string slicing to take data from the excel soreadsheet and write it to the txt file line by line in the correct format.
object_list = []
for j in range(0, 12):
    try:
        object_list.append(object[j])
    except:
        object_list.append(' ')
object_designation = ''.join(map(str, object_list))

for i in range(0, len(df)):
    Date_and_Time = str(df['Date + Time'][i])
    year = Date_and_Time[0:4]
    if Date_and_Time == 'nan':
        continue
    month = Date_and_Time[5:7]; day = Date_and_Time[8:10]+'.'+str(np.round((float(Date_and_Time[11:13])*3600 + float(Date_and_Time[14:16])*60 + float(Date_and_Time[17:len(Date_and_Time)]))/(24*3600), 5))[2:7]
    Date_and_Time = f'{year} {month} {day}'

    RA = df['RA'][i]
    hours = RA[0:2]; minutes = RA[3:5]; seconds = str(np.round(float(RA[6:len(RA)]), 2))
    while seconds[2] != '.':
        seconds = '0' + seconds
    while len(seconds) != 5:
        seconds += '0'
    RA_err = str(np.round(float(df['RA err (as)'][i]), 3))
    while len(RA_err) != 5:
        RA_err += '0'

    Dec = df['Dec'][i]
    if Dec[0] != '+' and Dec[0] != '-':
        degrees = '+'+Dec[0:2]; arcmins = Dec[3:5]; arcsecs = Dec[6:len(Dec)]
    else:
        degrees = Dec[0:3]; arcmins = Dec[4:6]; arcsecs = Dec[7:len(Dec)]
    Dec_err = str(np.round(float(df['Dec err (as)'][i]), 3))
    while len(Dec_err) != 5:
        Dec_err += '0'

    f.write(f'{object_designation}   {Date_and_Time} {hours} {minutes} {seconds} {degrees} {arcmins} {arcsecs}                     {obs_code} {RA_err} {Dec_err}\n')

In [62]:
#closes and saves file.
f.close()